# Ignore Node.js / React installed dependencies
frontend/node_modules/
frontend/build/

# Ignore Python virtual environment and cache
backend/venv/
backend/__pycache__/
*.pyc 
*.db

# System files
.DS_store
Thumbs.db

# Environment files
backend/.env
frontend/.env